/* The main accent color and the matching text value */
@define-color accent_bg_color @blue_3;
@define-color accent_fg_color white;

/* destructive-action buttons */
@define-color destructive_bg_color @red_3;
@define-color destructive_fg_color white;

/* Levelbars, entries, labels and infobars. These don't need text colors */
@define-color success_bg_color @green_4;
@define-color success_fg_color white;

@define-color warning_bg_color @yellow_5;
@define-color warning_fg_color rgba(0,0,0,0.8);

@define-color error_bg_color @red_3;
@define-color error_fg_color white;

/* Colors derived from their matching bg color
 * Not quite the same as libadwaita but "close enough" */
@define-color accent_color mix(@accent_bg_color, black, 83%);
@define-color destructive_color mix(@destructive_bg_color, black, 83%);
@define-color success_color mix(@success_bg_color, black, 83%);
@define-color warning_color mix(@warning_bg_color, black, 83%);
@define-color error_color mix(@error_bg_color, black, 83%);

/* Window */
@define-color window_bg_color #fafafb;
@define-color window_fg_color #323233;

/* Views - e.g. text view or tree view */
@define-color view_bg_color #ffffff;
@define-color view_fg_color #333334;

/* Header bar, search bar, tab bar */
@define-color headerbar_bg_color #ebebed;
@define-color headerbar_fg_color #2f2f30;
@define-color headerbar_border_color rgba(0,0,6,0.8);
@define-color headerbar_backdrop_color @window_bg_color;
@define-color headerbar_shade_color rgba(0,0,6,0.12);
@define-color headerbar_darker_shade_color rgba(0,0,6,0.12);

/* Split pane views */
@define-color sidebar_bg_color #ebebed;
@define-color sidebar_fg_color #2f2f30;
@define-color sidebar_backdrop_color #f2f2f4;
@define-color sidebar_shade_color rgba(0,0,6,0.07);
@define-color sidebar_border_color rgba(0,0,6,0.07);

/* Cards, boxed lists */
@define-color card_bg_color #ffffff;
@define-color card_fg_color #333334;
@define-color card_shade_color rgba(0,0,6,0.07);

/* Dialogs */
@define-color dialog_bg_color #fafafb;
@define-color dialog_fg_color #323233;

/* Popovers */
@define-color popover_bg_color #ffffff;
@define-color popover_fg_color #333334;
@define-color popover_shade_color rgba(0,0,6,0.07);

/* Thumbnails */
@define-color thumbnail_bg_color #ffffff;
@define-color thumbnail_fg_color #333334;

/* Miscellaneous */
@define-color shade_color rgba(0,0,6,0.07);
@define-color scrollbar_outline_color white;

/* XFCE */
@define-color panel_bg_color black;
@define-color panel_fg_color white;
